/// color
$primary-color: #009c75;
$secondary-color: #ceebf9;

$main: #009c75;
$sup: #ceebf9;
$b: #0d171c;

/// flex
$flex-child-spacing: 10px;
$breakpoint-medium: 992px;
$breakpoint-small: 768px;
$breakpoint-xsmall: 320px;
$breakpoint-nav-transform: $breakpoint-small;

/// section > content
$content-max-width: 1180px;
$content-padding: 8% 5%;

/// font-family
$p400: aktiv-grotesk, 'Noto Sans TC', PingFangTC-Regular, xingothic-tc, sans-serif, Microsoft JhengHei;
$p800: aktiv-grotesk, 'Noto Sans TC', PingFangTC-Semibold, sans-serif, Microsoft JhengHei;

// breakpoint management
$mobile: 768px;
$pad: 992px;

@mixin mobile {
  @media screen and (max-width: $mobile) {
  	@content
  }
}

@mixin pad {
  @media screen and  (max-width: $pad) {
    @content
  }
}