@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
h1 {
  font-size: 30px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 17px; }

span {
  font-size: 13px; }

p {
  font-size: 14px; }

html, body {
  font-size: 15px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

* {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

input, textarea, button, select, option, optgroup, fieldset, label {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0; }

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor; }

[class*='flex'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  [class*='flex'] > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 10px; }

[class*='flex'][class*='-jc-'] {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

[class*='flex'][class*='-jfs-'] {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

[class*='flex'][class*='-jfe-'] {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

[class*='flex'][class*='-jsa-'] {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

[class*='flex'][class*='-jsb-'] {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

[class*='flex'][class*='-ac-'] {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

[class*='flex'][class*='-as-'] {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

[class*='flex'][class*='-afs-'] {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

[class*='flex'][class*='-afe-'] {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

[class*='flex'][class*='-nw-'] {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

[class*='-f10-'] > * {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

[class*='-f01-'] > * {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

[class*='-f11-'] > * {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

[class*='-fw100px-'] > * {
  width: 100px;
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px; }

[class*='-fw200px-'] > * {
  width: 200px;
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px; }

[class*='-fw300px-'] > * {
  width: 300px;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px; }

[class*='-fw400px-'] > * {
  width: 400px;
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px; }

[class*='-fw500px-'] > * {
  width: 500px;
  -ms-flex-preferred-size: 500px;
  flex-basis: 500px; }

[class*='flex'][class*='-l1-'] > * {
  width: calc( 100% - 20px);
  -ms-flex-preferred-size: calc( 100% - 20px);
  flex-basis: calc( 100% - 20px); }

[class*='flex'][class*='-l2-'] > * {
  width: calc( 50% - 20px);
  -ms-flex-preferred-size: calc( 50% - 20px);
  flex-basis: calc( 50% - 20px); }

[class*='flex'][class*='-l3-'] > * {
  width: calc( 33.33% - 20px);
  -ms-flex-preferred-size: calc( 33.33% - 20px);
  flex-basis: calc( 33.33% - 20px); }

[class*='flex'][class*='-l4-'] > * {
  width: calc( 25% - 20px);
  -ms-flex-preferred-size: calc( 25% - 20px);
  flex-basis: calc( 25% - 20px); }

[class*='flex'][class*='-l5-'] > * {
  width: calc( 20% - 20px);
  -ms-flex-preferred-size: calc( 20% - 20px);
  flex-basis: calc( 20% - 20px); }

[class*='flex'][class*='-l6-'] > * {
  width: calc( 16.66% - 20px);
  -ms-flex-preferred-size: calc( 16.66% - 20px);
  flex-basis: calc( 16.66% - 20px); }

@media screen and (max-width: 992px) {
  [class*='flex'][class*='-m1-'] > * {
    width: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-m2-'] > * {
    width: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); }
  [class*='flex'][class*='-m3-'] > * {
    width: calc( 33.33% - 20px);
    -ms-flex-preferred-size: calc( 33.33% - 20px);
    flex-basis: calc( 33.33% - 20px); }
  [class*='flex'][class*='-m4-'] > * {
    width: calc( 25% - 20px);
    -ms-flex-preferred-size: calc( 25% - 20px);
    flex-basis: calc( 25% - 20px); } }

@media screen and (max-width: 768px) {
  [class*='flex'][class*='-s1-'] > * {
    width: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-s2-'] > * {
    width: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); }
  [class*='flex'][class*='-s3-'] > * {
    width: calc( 33.33% - 20px);
    -ms-flex-preferred-size: calc( 33.33% - 20px);
    flex-basis: calc( 33.33% - 20px); } }

@media screen and (max-width: 320px) {
  [class*='flex'][class*='-xs1-'] > * {
    width: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-xs2-'] > * {
    width: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); } }

[class*='btn'] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center; }

.calltoaction-btn {
  display: inline-block;
  width: 120px;
  visibility: visible; }
  @media screen and (max-width: 768px) {
    .calltoaction-btn {
      position: fixed;
      top: 5px;
      right: 3%; } }

body {
  background-color: #000; }
  @media screen and (max-width: 992px) {
    body {
      overflow-x: hidden; } }

.m {
  display: none !important; }

@media screen and (max-width: 992px) {
  .m {
    display: block !important; }
  .price.m {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .pc {
    display: none !important; } }

[class*='bg-'] {
  background-repeat: no-repeat;
  background-position: center; }

.bg-cover {
  background-size: cover; }

.bg-contain {
  background-size: contain; }

header {
  width: 100%;
  height: 100vh;
  position: relative; }

#nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 20; }

#logo {
  position: fixed;
  left: 2.5%;
  top: 30px;
  width: 180px; }
  @media screen and (max-width: 992px) {
    #logo {
      width: 145px;
      top: 20px; } }
  #logo img {
    width: 100%; }

#cta {
  position: fixed;
  right: 2.5%;
  top: 15px;
  width: 115px;
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  pointer-events: visible;
  -webkit-transition: 0.3s cubic-bezier(0.45, 0.08, 0.39, 1.49);
  -o-transition: 0.3s cubic-bezier(0.45, 0.08, 0.39, 1.49);
  transition: 0.3s cubic-bezier(0.45, 0.08, 0.39, 1.49);
  -webkit-animation: gogoro 5s linear 0s infinite both;
  animation: gogoro 5s linear 0s infinite both; }
  @media screen and (max-width: 992px) {
    #cta {
      right: -25px;
      top: auto;
      bottom: 10%;
      width: 85px;
      height: 85px; } }
  #cta div {
    animation: gogoro 5s linear 0s infinite reverse both; }
  #cta:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused; }
    #cta:hover div {
      -webkit-animation-play-state: paused;
      animation-play-state: paused; }
  #cta img {
    width: 38px; }
    @media screen and (max-width: 992px) {
      #cta img {
        display: none; } }
  #cta br {
    display: none; }
  #cta span {
    display: block;
    font-size: 15px;
    font-family: aktiv-grotesk, "Noto Sans TC", PingFangTC-Regular, xingothic-tc, sans-serif, Microsoft JhengHei;
    font-weight: 400;
    color: #009c75; }
    @media screen and (max-width: 992px) {
      #cta span {
        font-size: 15px;
        font-family: aktiv-grotesk, "Noto Sans TC", PingFangTC-Semibold, sans-serif, Microsoft JhengHei;
        font-weight: 800;
        line-height: 1.2;
        -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        transform: translateX(-5px); }
        #cta span br {
          display: block; } }

@-webkit-keyframes gogoro {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes gogoro {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

header .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  header .bg img {
    width: 100%; }
    @media screen and (max-width: 992px) {
      header .bg img {
        position: relative;
        display: block;
        width: 250%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); } }

header .text {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  margin: auto;
  z-index: 3;
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto; }
  header .text img {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }

header .social {
  position: absolute;
  left: 2.5%;
  bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  header .social a {
    display: block;
    width: 45px;
    height: 45px;
    position: relative;
    margin-left: 15px; }
    header .social a img {
      width: 100%;
      left: 0;
      top: 0;
      position: absolute; }
    header .social a img.h {
      opacity: 0; }
      header .social a img.h:hover {
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
        opacity: 1; }

section {
  width: 100%;
  min-height: 100vh; }

.sec2 {
  position: relative;
  height: auto;
  min-height: 100vh;
  padding: 20% 0 0; }
  @media screen and (max-width: 992px) {
    .sec2 {
      padding: 0 0 0; } }

.bg-marquee {
  width: 100%;
  overflow: hidden; }
  @media screen and (max-width: 992px) {
    .bg-marquee {
      position: absolute;
      top: 10%; } }
  .bg-marquee .line {
    position: relative;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .bg-marquee .line img {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
      flex: 0 0 150px;
      width: 150px;
      margin: 5px 7px;
      opacity: 0.4;
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
    .bg-marquee .line img:hover {
      opacity: 1; }
  .bg-marquee .line:nth-of-type(1) {
    width: 1640px;
    -webkit-animation: mq 35s linear 0s infinite normal both;
    animation: mq 35s linear 0s infinite normal both; }
  .bg-marquee .line:nth-of-type(2) {
    width: 1640px;
    animation: mq 30s linear 0s infinite reverse both; }
  .bg-marquee .line:nth-of-type(3) {
    width: 1476px;
    -webkit-animation: mq 40s linear 0s infinite normal both;
    animation: mq 40s linear 0s infinite normal both; }

@-webkit-keyframes mq {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@keyframes mq {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

.block {
  background-color: #0d171c;
  color: #ceebf9; }

.ak {
  font-family: aktiv-grotesk, "Noto Sans TC", PingFangTC-Semibold, sans-serif, Microsoft JhengHei;
  font-weight: 800;
  font-size: normal; }

h2 {
  font-weight: bold;
  line-height: 1.1;
  font-size: 40px; }
  @media screen and (max-width: 992px) {
    h2 {
      font-size: 30px; } }

h3 {
  font-size: 27px;
  font-family: aktiv-grotesk, "Noto Sans TC", PingFangTC-Semibold, sans-serif, Microsoft JhengHei;
  font-weight: 800; }
  @media screen and (max-width: 992px) {
    h3 {
      font-size: 21px; } }

.sec2 .block {
  width: 100%;
  margin: auto;
  max-width: 930px;
  padding: 35px;
  -webkit-transform: translate3d(0, 20%, 0);
  transform: translate3d(0, 20%, 0);
  z-index: 3;
  position: relative; }
  @media screen and (max-width: 992px) {
    .sec2 .block {
      width: 80% !important;
      -webkit-transform: translate3d(0, 0%, 0) !important;
      transform: translate3d(0, 0%, 0) !important;
      display: block !important;
      padding: 25px !important; } }
  .sec2 .block .left, .sec2 .block .right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
    margin: 0; }
    @media screen and (max-width: 992px) {
      .sec2 .block .left, .sec2 .block .right {
        width: 100%; } }
  .sec2 .block .left {
    padding-right: 50px;
    -webkit-box-shadow: 1px 0px 0 0 #ceebf9;
    box-shadow: 1px 0px 0 0 #ceebf9; }
    @media screen and (max-width: 992px) {
      .sec2 .block .left {
        -webkit-box-shadow: 0 1px 0 0 #ceebf9;
        box-shadow: 0 1px 0 0 #ceebf9;
        padding-right: 40px;
        padding-bottom: 30px;
        margin-bottom: 20px; } }
  .sec2 .block p {
    margin-top: 40px;
    opacity: .9; }
    @media screen and (max-width: 992px) {
      .sec2 .block p {
        margin-top: 25px; } }
  .sec2 .block .right {
    padding-left: 50px; }
    .sec2 .block .right p {
      margin-top: 10px;
      text-align: right;
      font-size: 14px;
      padding-right: 60px; }
      @media screen and (max-width: 992px) {
        .sec2 .block .right p {
          text-align: left; } }
    @media screen and (max-width: 992px) {
      .sec2 .block .right {
        padding-left: 0; } }

.sec2 .count {
  color: #ceebf9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: aktiv-grotesk, "Noto Sans TC", PingFangTC-Semibold, sans-serif, Microsoft JhengHei;
  font-weight: 800; }
  .sec2 .count span {
    font-size: 22px; }
    @media screen and (max-width: 992px) {
      .sec2 .count span {
        font-size: 18px; } }
  .sec2 .count .nums {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 25px; }
    @media screen and (max-width: 992px) {
      .sec2 .count .nums {
        width: 230px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 230px;
        flex: 0 0 230px; } }
  .sec2 .count .num {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    border-radius: 6px;
    margin-right: 15px;
    text-align: center;
    font-family: aktiv-grotesk, "Noto Sans TC", PingFangTC-Semibold, sans-serif, Microsoft JhengHei;
    font-weight: 800;
    width: 70px;
    font-size: 70px;
    background-color: #ceebf9;
    color: #0d171c; }
    @media screen and (max-width: 992px) {
      .sec2 .count .num {
        margin-right: 8px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
        flex: 0 0 50px;
        font-size: 50px; } }

.sec2 .block_bottom {
  width: 100%;
  margin: 0 auto 0 0;
  max-width: 600px;
  padding: 35px;
  z-index: 3;
  position: relative;
  left: 2.5%; }
  @media screen and (max-width: 992px) {
    .sec2 .block_bottom {
      left: 0;
      right: 0;
      margin-top: 250px;
      max-width: 290px;
      padding: 40px; }
      .sec2 .block_bottom .bottom {
        display: none; }
      .sec2 .block_bottom .top {
        display: block; }
        .sec2 .block_bottom .top .top-text, .sec2 .block_bottom .top p {
          padding: 0;
          width: 100%;
          margin: 0; }
        .sec2 .block_bottom .top .top-text {
          margin-bottom: 20px; } }

.sec2 .top p {
  padding: 0 30px;
  margin-top: 15px; }

.boxes {
  position: relative;
  z-index: 10;
  width: 100%;
  overflow-x: scroll; }
  @media screen and (max-width: 992px) {
    .boxes {
      margin-top: 60px; } }

.box {
  cursor: pointer;
  text-align: center;
  font-family: aktiv-grotesk, "Noto Sans TC", PingFangTC-Semibold, sans-serif, Microsoft JhengHei;
  font-weight: 800;
  opacity: 0.6;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .box.active {
    opacity: 1; }
  .box:hover {
    opacity: .8; }
  .box img {
    width: 100%; }
  @media screen and (max-width: 992px) {
    .box h4 {
      font-size: 12px;
      color: #ceebf9; } }

.sec3 {
  pointer-events: none;
  position: relative;
  background-size: 100% auto;
  background-position: 0 100%; }
  .sec3 #v2-slider {
    pointer-events: visible; }
  @media screen and (max-width: 992px) {
    .sec3 {
      height: 70vh;
      background-size: 250% auto;
      background-position: center 100%; } }
  .sec3 .left-guy {
    width: 100%;
    position: absolute;
    bottom: 5%;
    left: 0; }
    @media screen and (max-width: 992px) {
      .sec3 .left-guy {
        width: 200%;
        bottom: 0;
        left: -25%; } }
  .sec3 .bg-contain {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-position: 0 100%; }
    @media screen and (max-width: 992px) {
      .sec3 .bg-contain {
        background-size: 250% auto;
        background-position: center 100%; } }
  .sec3 .right-video {
    pointer-events: visible;
    width: 100%;
    position: absolute;
    right: 5%;
    bottom: 46%;
    margin: auto;
    width: 50%;
    max-width: 580px;
    background-origin: 5%; }
    @media screen and (max-width: 992px) {
      .sec3 .right-video {
        right: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        bottom: 50%;
        width: 90%;
        z-index: -1; } }
    .sec3 .right-video .yb {
      position: relative;
      padding-top: 52.25%; }
      .sec3 .right-video .yb iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }

@media screen and (max-width: 992px) {
  .sec4 {
    position: relative;
    z-index: 1;
    margin-top: -30px; } }

.sec4 .block {
  max-width: 950px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 992px) {
    .sec4 .block {
      width: 80%;
      margin-left: 0; } }
  .sec4 .block h2 {
    font-size: 36px;
    line-height: 1; }

.sec4 .left-text {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
  padding: 25px 40px; }

.sec4 .right-icons {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc( 100% - 450px);
  flex: 0 0 calc( 100% - 450px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .sec4 .right-icons img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    width: 30%;
    margin: 0 1.666%; }

.sec4 .main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 5px; }
  @media screen and (max-width: 992px) {
    .sec4 .main-block {
      display: block;
      margin-top: 0; }
      .sec4 .main-block .bg-cover {
        width: 90%;
        padding-top: 52.25%;
        position: relative; }
      .sec4 .main-block .bg-cover:nth-of-type(4) {
        margin-right: 0;
        margin-left: auto; } }

.sec4 .main-block > div {
  margin: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  width: 50%; }
  @media screen and (max-width: 992px) {
    .sec4 .main-block > div {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
      flex: 0 0 80%;
      width: 80%;
      height: auto; } }

.sec4 .text-block {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .sec4 .text-block .text-block-content > * {
    background-color: #0d171c;
    color: #ceebf9;
    font-family: aktiv-grotesk, "Noto Sans TC", PingFangTC-Semibold, sans-serif, Microsoft JhengHei;
    font-weight: 800; }
  .sec4 .text-block h3 {
    width: 355px;
    margin-bottom: 23px; }
    @media screen and (max-width: 992px) {
      .sec4 .text-block h3 {
        width: 100%; } }
  @media screen and (max-width: 992px) {
    .sec4 .text-block {
      margin: -20px 0 0 auto !important;
      position: relative;
      z-index: 1; }
      .sec4 .text-block.m {
        margin-right: auto !important;
        margin-left: 10px !important; }
      .sec4 .text-block .text-block-content {
        width: 90%;
        margin: auto;
        margin-top: 40px; } }
    @media screen and (max-width: 992px) and (max-width: 992px) {
      .sec4 .text-block .text-block-content {
        margin-top: 0; } }
  .sec4 .text-block .text-block-content > div {
    width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 4px 9px; }
    @media screen and (max-width: 992px) {
      .sec4 .text-block .text-block-content > div {
        width: 100%; } }
    .sec4 .text-block .text-block-content > div .label {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
      flex: 0 0 100px;
      width: 100px;
      -webkit-box-shadow: 1px 0 0 0 #009c75;
      box-shadow: 1px 0 0 0 #009c75;
      color: #009c75;
      font-size: 12px;
      height: 30px; }
    .sec4 .text-block .text-block-content > div .intro {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: auto;
      text-align: right;
      line-height: 1.2;
      font-size: 30px; }
    .sec4 .text-block .text-block-content > div .label-long {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 130px;
      flex: 0 0 130px;
      width: 130px; }
  .sec4 .text-block .text-block-content > p {
    width: 410px;
    margin-top: 23px;
    padding: 15px;
    font-size: 15px;
    font-family: aktiv-grotesk, "Noto Sans TC", PingFangTC-Regular, xingothic-tc, sans-serif, Microsoft JhengHei;
    font-weight: 400;
    opacity: .9;
    min-height: 100px; }
    @media screen and (max-width: 992px) {
      .sec4 .text-block .text-block-content > p {
        width: 100%; } }

.sec5, .sec6 {
  padding-top: 10%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 700px; }
  @media screen and (max-width: 992px) {
    .sec5, .sec6 {
      padding-bottom: 40%; } }
  .sec5 .content, .sec6 .content {
    max-width: 1100px;
    margin: auto; }
    .sec5 .content .title, .sec6 .content .title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .sec5 .content .title-line, .sec6 .content .title-line {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: auto;
      background-color: #ceebf9;
      height: 1px; }
    .sec5 .content .title-words, .sec6 .content .title-words {
      color: #ceebf9;
      margin: 0 40px; }
      .sec5 .content .title-words h2, .sec6 .content .title-words h2 {
        font-family: aktiv-grotesk, "Noto Sans TC", PingFangTC-Semibold, sans-serif, Microsoft JhengHei;
        font-weight: 800; }
    .sec5 .content .feats, .sec6 .content .feats {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      font-family: aktiv-grotesk, "Noto Sans TC", PingFangTC-Semibold, sans-serif, Microsoft JhengHei;
      font-weight: 800;
      max-width: 900px;
      margin: 80px auto 0; }
      @media screen and (max-width: 992px) {
        .sec5 .content .feats, .sec6 .content .feats {
          margin: 20px auto 0;
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; } }
      .sec5 .content .feats .rigth-intro, .sec6 .content .feats .rigth-intro {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        @media screen and (max-width: 992px) {
          .sec5 .content .feats .rigth-intro, .sec6 .content .feats .rigth-intro {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            width: 100%; } }
        .sec5 .content .feats .rigth-intro .list, .sec6 .content .feats .rigth-intro .list {
          color: #ceebf9;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          width: 300px;
          padding: 20px 0;
          -webkit-transition: 0.3s ease;
          -o-transition: 0.3s ease;
          transition: 0.3s ease;
          border-radius: 10px;
          cursor: pointer;
          -webkit-transform: scale(0.96);
          -ms-transform: scale(0.96);
          transform: scale(0.96); }
          @media screen and (max-width: 992px) {
            .sec5 .content .feats .rigth-intro .list, .sec6 .content .feats .rigth-intro .list {
              display: none; } }
          .sec5 .content .feats .rigth-intro .list.active, .sec5 .content .feats .rigth-intro .list:hover, .sec6 .content .feats .rigth-intro .list.active, .sec6 .content .feats .rigth-intro .list:hover {
            color: #0d171c;
            background-color: #ceebf9;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1); }
            @media screen and (max-width: 992px) {
              .sec5 .content .feats .rigth-intro .list.active, .sec5 .content .feats .rigth-intro .list:hover, .sec6 .content .feats .rigth-intro .list.active, .sec6 .content .feats .rigth-intro .list:hover {
                color: #ceebf9;
                background-color: #0d171c;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex; } }
            .sec5 .content .feats .rigth-intro .list.active p, .sec5 .content .feats .rigth-intro .list:hover p, .sec6 .content .feats .rigth-intro .list.active p, .sec6 .content .feats .rigth-intro .list:hover p {
              -webkit-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1); }
          .sec5 .content .feats .rigth-intro .list .num, .sec6 .content .feats .rigth-intro .list .num {
            background-color: #009c75;
            color: #0d171c;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20px;
            flex: 0 0 20px;
            width: 20px;
            height: 20px;
            font-size: 12px;
            border-radius: 100%;
            text-align: center;
            line-height: 20px;
            margin-right: 20px; }
          .sec5 .content .feats .rigth-intro .list p, .sec6 .content .feats .rigth-intro .list p {
            font-size: 16px;
            text-align: left;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 200px;
            flex: 0 0 200px;
            width: 200px;
            letter-spacing: 3px;
            -webkit-transform: scale(0.95);
            -ms-transform: scale(0.95);
            transform: scale(0.95);
            -webkit-transition: 0.3s ease;
            -o-transition: 0.3s ease;
            transition: 0.3s ease; }
      .sec5 .content .feats .cards-section, .sec6 .content .feats .cards-section {
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        width: 50%; }
        @media screen and (max-width: 992px) {
          .sec5 .content .feats .cards-section, .sec6 .content .feats .cards-section {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            width: 100%;
            max-width: 300px;
            margin: auto;
            height: 450px; } }
      .sec5 .content .feats .cards-arrow, .sec6 .content .feats .cards-arrow {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 3;
        cursor: pointer; }
        .sec5 .content .feats .cards-arrow img, .sec6 .content .feats .cards-arrow img {
          width: 100%; }
      .sec5 .content .feats .cards-arrow.left, .sec6 .content .feats .cards-arrow.left {
        left: 0; }
      .sec5 .content .feats .cards-arrow.right, .sec6 .content .feats .cards-arrow.right {
        right: 0; }
      .sec5 .content .feats .cards, .sec6 .content .feats .cards {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto; }
        .sec5 .content .feats .cards img, .sec6 .content .feats .cards img {
          position: absolute;
          opacity: 0;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          width: 100%;
          max-width: 280px;
          z-index: 1;
          -webkit-transition: 0.3s ease;
          -o-transition: 0.3s ease;
          transition: 0.3s ease; }
          @media screen and (max-width: 992px) {
            .sec5 .content .feats .cards img, .sec6 .content .feats .cards img {
              max-width: 240px; } }
        .sec5 .content .feats .cards img.small_left,
        .sec5 .content .feats .cards img.small_right, .sec6 .content .feats .cards img.small_left,
        .sec6 .content .feats .cards img.small_right {
          opacity: 0.7; }
        .sec5 .content .feats .cards img.small_left, .sec6 .content .feats .cards img.small_left {
          -webkit-transform: scale(0.85) translateX(-30%);
          -ms-transform: scale(0.85) translateX(-30%);
          transform: scale(0.85) translateX(-30%); }
        .sec5 .content .feats .cards img.small_right, .sec6 .content .feats .cards img.small_right {
          -webkit-transform: scale(0.85) translateX(30%);
          -ms-transform: scale(0.85) translateX(30%);
          transform: scale(0.85) translateX(30%); }
        .sec5 .content .feats .cards img.active, .sec6 .content .feats .cards img.active {
          opacity: 1;
          z-index: 2; }
  .sec5 .sec5-bg, .sec6 .sec5-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1; }
    .sec5 .sec5-bg img:nth-child(1), .sec6 .sec5-bg img:nth-child(1) {
      position: relative;
      width: 100%; }
    .sec5 .sec5-bg img, .sec6 .sec5-bg img {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0; }

.sec6 {
  min-height: 0;
  padding-top: 0;
  margin-top: -20%;
  padding-bottom: 50px; }
  @media screen and (max-width: 992px) {
    .sec6 {
      margin-top: 0;
      height: auto; } }
  .sec6 .content {
    max-width: 1000px; }
  .sec6 .title-words > * {
    text-align: center !important; }
  .sec6 .main-button {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 20px auto;
    text-align: center;
    font-size: 0; }
    @media screen and (max-width: 992px) {
      .sec6 .main-button {
        max-width: 240px; } }
    .sec6 .main-button .main-button-text {
      position: absolute;
      font-size: 37px;
      font-weight: bold;
      line-height: 1.1;
      color: #009c75;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .sec6 .main-button img {
      max-width: 200px;
      width: 90%; }

.buy-now-section {
  padding: 24px 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ceebf9;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-family: aktiv-grotesk, "Noto Sans TC", PingFangTC-Regular, xingothic-tc, sans-serif, Microsoft JhengHei;
  font-weight: 400;
  font-size: 14px; }
  @media screen and (max-width: 992px) {
    .buy-now-section {
      font-size: 0; } }
  .buy-now-section:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-color: #ceebf9;
    width: 87%;
    opacity: 0.3;
    margin: auto;
    height: 1px; }

#buy-btn {
  text-align: center;
  line-height: 60px;
  width: 100%;
  max-width: 290px;
  background-color: #009c75;
  color: #0d171c;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
  font-family: aktiv-grotesk, "Noto Sans TC", PingFangTC-Semibold, sans-serif, Microsoft JhengHei;
  font-weight: 800; }
  @media screen and (max-width: 992px) {
    #buy-btn {
      max-width: 100%;
      margin-right: 0; } }
  #buy-btn img {
    width: 25px;
    margin-right: 10px; }

footer {
  background-color: #0d171c;
  color: #ceebf9;
  text-align: center;
  z-index: 10;
  position: relative; }
  footer .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 12px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    max-width: 1100px;
    margin: auto;
    padding: 20px 80px 20px 5px; }
    @media screen and (max-width: 992px) {
      footer .content {
        display: block;
        text-align: left; } }
  footer .logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    width: 100px; }
    @media screen and (max-width: 992px) {
      footer .logo {
        margin-bottom: 10px; } }
  footer .add,
  footer .email {
    padding: 0 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: auto; }
    @media screen and (max-width: 992px) {
      footer .add,
      footer .email {
        margin-bottom: 10px; } }
  footer .email {
    text-align: left; }
  footer a {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px; }
    @media screen and (max-width: 992px) {
      footer a {
        width: auto;
        margin: 5px; } }
    footer a img {
      width: auto;
      height: 35px; }
    footer a .noactive:hover {
      opacity: 0; }
    footer a .noactive:hover + .active {
      opacity: 1; }
    footer a .noactive {
      position: relative;
      z-index: 2; }
    footer a .active {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto; }

.copyright {
  min-height: 0;
  background-color: #000;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  color: #ceebf9; }
  .copyright .content {
    padding: 0 5px; }
  @media screen and (max-width: 992px) {
    .copyright {
      opacity: 0.5;
      line-height: 1;
      padding: 10px 5px; } }

#loading {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: #0d171c; }
  #loading .progress-text {
    font-size: 5vw;
    opacity: 0.5;
    color: #fff;
    font-weight: 800; }
  #loading [class*='block'] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  #loading .block-og {
    background-color: #0d171c;
    z-index: 3; }
  #loading .block-db {
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2; }
  #loading .block-b {
    background-color: #009c75; }

#loading.completed {
  -webkit-animation: disappear 1.5s ease 0s 1 both;
  animation: disappear 1.5s ease 0s 1 both;
  pointer-events: none;
  background-color: transparent; }
  #loading.completed .progress-text {
    -webkit-animation: disappear 1.5s ease 0s 1 both;
    animation: disappear 1.5s ease 0s 1 both; }
  #loading.completed .block-og {
    -webkit-animation: slideRight 1.5s ease 0.2s 1 both;
    animation: slideRight 1.5s ease 0.2s 1 both; }
  #loading.completed .block-db {
    -webkit-animation: slideRight 1.7s ease 0.1s 1 both;
    animation: slideRight 1.7s ease 0.1s 1 both; }
  #loading.completed .block-b {
    -webkit-animation: slideRight 2.1s ease 0s 1 both;
    animation: slideRight 2.1s ease 0s 1 both; }

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  40% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  60% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%; }
  100% {
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%; } }

@keyframes slideRight {
  0% {
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  40% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  60% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%; }
  100% {
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%; } }

@-webkit-keyframes disappear {
  0% {
    font-size: 5vw;
    background-color: #0d171c; }
  40% {
    font-size: 5vw;
    background-color: #0d171c; }
  60% {
    font-size: 0;
    background-color: transparent; }
  100% {
    font-size: 0;
    background-color: transparent; } }

@keyframes disappear {
  0% {
    font-size: 5vw;
    background-color: #0d171c; }
  40% {
    font-size: 5vw;
    background-color: #0d171c; }
  60% {
    font-size: 0;
    background-color: transparent; }
  100% {
    font-size: 0;
    background-color: transparent; } }
