@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
h1 {
  font-size: 30px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 17px; }

span {
  font-size: 13px; }

p {
  font-size: 14px; }

html, body {
  font-size: 15px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

* {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

input, textarea, button, select, option, optgroup, fieldset, label {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0; }

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor; }

[class*='flex'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  [class*='flex'] > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 10px; }

[class*='flex'][class*='-jc-'] {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

[class*='flex'][class*='-jfs-'] {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

[class*='flex'][class*='-jfe-'] {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

[class*='flex'][class*='-jsa-'] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

[class*='flex'][class*='-jsb-'] {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

[class*='flex'][class*='-ac-'] {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

[class*='flex'][class*='-as-'] {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

[class*='flex'][class*='-afs-'] {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

[class*='flex'][class*='-afe-'] {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

[class*='flex'][class*='-nw-'] {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

[class*='-f10-'] > * {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

[class*='-f01-'] > * {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

[class*='-f11-'] > * {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

[class*='-fw100px-'] > * {
  width: 100px;
  -webkit-flex-basis: 100px;
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px; }

[class*='-fw200px-'] > * {
  width: 200px;
  -webkit-flex-basis: 200px;
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px; }

[class*='-fw300px-'] > * {
  width: 300px;
  -webkit-flex-basis: 300px;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px; }

[class*='-fw400px-'] > * {
  width: 400px;
  -webkit-flex-basis: 400px;
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px; }

[class*='-fw500px-'] > * {
  width: 500px;
  -webkit-flex-basis: 500px;
  -ms-flex-preferred-size: 500px;
  flex-basis: 500px; }

[class*='flex'][class*='-l1-'] > * {
  width: calc( 100% - 20px);
  -webkit-flex-basis: calc( 100% - 20px);
  -ms-flex-preferred-size: calc( 100% - 20px);
  flex-basis: calc( 100% - 20px); }

[class*='flex'][class*='-l2-'] > * {
  width: calc( 50% - 20px);
  -webkit-flex-basis: calc( 50% - 20px);
  -ms-flex-preferred-size: calc( 50% - 20px);
  flex-basis: calc( 50% - 20px); }

[class*='flex'][class*='-l3-'] > * {
  width: calc( 33.33% - 20px);
  -webkit-flex-basis: calc( 33.33% - 20px);
  -ms-flex-preferred-size: calc( 33.33% - 20px);
  flex-basis: calc( 33.33% - 20px); }

[class*='flex'][class*='-l4-'] > * {
  width: calc( 25% - 20px);
  -webkit-flex-basis: calc( 25% - 20px);
  -ms-flex-preferred-size: calc( 25% - 20px);
  flex-basis: calc( 25% - 20px); }

[class*='flex'][class*='-l5-'] > * {
  width: calc( 20% - 20px);
  -webkit-flex-basis: calc( 20% - 20px);
  -ms-flex-preferred-size: calc( 20% - 20px);
  flex-basis: calc( 20% - 20px); }

[class*='flex'][class*='-l6-'] > * {
  width: calc( 16.66% - 20px);
  -webkit-flex-basis: calc( 16.66% - 20px);
  -ms-flex-preferred-size: calc( 16.66% - 20px);
  flex-basis: calc( 16.66% - 20px); }

@media screen and (max-width: 992px) {
  [class*='flex'][class*='-m1-'] > * {
    width: calc( 100% - 20px);
    -webkit-flex-basis: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-m2-'] > * {
    width: calc( 50% - 20px);
    -webkit-flex-basis: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); }
  [class*='flex'][class*='-m3-'] > * {
    width: calc( 33.33% - 20px);
    -webkit-flex-basis: calc( 33.33% - 20px);
    -ms-flex-preferred-size: calc( 33.33% - 20px);
    flex-basis: calc( 33.33% - 20px); }
  [class*='flex'][class*='-m4-'] > * {
    width: calc( 25% - 20px);
    -webkit-flex-basis: calc( 25% - 20px);
    -ms-flex-preferred-size: calc( 25% - 20px);
    flex-basis: calc( 25% - 20px); } }

@media screen and (max-width: 768px) {
  [class*='flex'][class*='-s1-'] > * {
    width: calc( 100% - 20px);
    -webkit-flex-basis: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-s2-'] > * {
    width: calc( 50% - 20px);
    -webkit-flex-basis: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); }
  [class*='flex'][class*='-s3-'] > * {
    width: calc( 33.33% - 20px);
    -webkit-flex-basis: calc( 33.33% - 20px);
    -ms-flex-preferred-size: calc( 33.33% - 20px);
    flex-basis: calc( 33.33% - 20px); } }

@media screen and (max-width: 320px) {
  [class*='flex'][class*='-xs1-'] > * {
    width: calc( 100% - 20px);
    -webkit-flex-basis: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-xs2-'] > * {
    width: calc( 50% - 20px);
    -webkit-flex-basis: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); } }

[class*='btn'] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center; }

.calltoaction-btn {
  display: inline-block;
  width: 120px;
  visibility: visible; }
  @media screen and (max-width: 768px) {
    .calltoaction-btn {
      position: fixed;
      top: 5px;
      right: 3%; } }

body {
  background-color: #000; }

[class*="bg-"] {
  background-repeat: no-repeat;
  background-position: center; }

.bg-cover {
  background-size: cover; }

.bg-contain {
  background-size: contain; }

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc( 100vh);
  pointer-events: none;
  z-index: 30; }
  #nav img {
    width: 100%; }
  #nav .right {
    position: absolute;
    top: 0px;
    right: 20px;
    height: 100%;
    width: 95px; }
    @media screen and (max-width: 992px) {
      #nav .right {
        right: 0; } }
    #nav .right * {
      position: relative;
      pointer-events: visible;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease; }
    #nav .right .idontunderstand {
      width: 100%;
      top: 20px; }
      #nav .right .idontunderstand img {
        border-radius: 100%;
        -webkit-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.5); }
      @media screen and (max-width: 992px) {
        #nav .right .idontunderstand {
          max-width: 60px;
          margin: 0 auto; } }
    #nav .right .noactive:hover {
      opacity: 0; }
    #nav .right .noactive:hover + .active {
      opacity: 1; }
    #nav .right .noactive {
      position: relative;
      z-index: 2; }
    #nav .right .active {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0; }
    #nav .right .menu-btn {
      width: 50px;
      margin: 40px auto;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease; }
      #nav .right .menu-btn img {
        -webkit-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.5); }
      @media screen and (max-width: 992px) {
        #nav .right .menu-btn {
          margin: 25px auto; } }
    #nav .right .menu-btn.on {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    #nav .right .nav-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #0d171c;
      -webkit-box-shadow: inset 0 0 0 2px #009c75;
      box-shadow: inset 0 0 0 2px #009c75;
      color: #009c75;
      font-weight: 700;
      font-size: 13px;
      width: 0px;
      position: absolute;
      top: 200px;
      right: 20px;
      padding: 0px;
      overflow: hidden;
      height: 40px; }
      #nav .right .nav-list a {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100px;
        -ms-flex: 0 0 100px;
        flex: 0 0 100px;
        width: 100px;
        text-align: center;
        opacity: 0;
        -webkit-transition: 0.3s ease 0.3s;
        -o-transition: 0.3s ease 0.3s;
        transition: 0.3s ease 0.3s;
        -webkit-transform: translateX(30%);
        -ms-transform: translateX(30%);
        transform: translateX(30%); }
      #nav .right .nav-list a:nth-of-type(2) {
        -webkit-transition: 0.3s ease 0.4s;
        -o-transition: 0.3s ease 0.4s;
        transition: 0.3s ease 0.4s; }
      #nav .right .nav-list a:nth-of-type(3) {
        -webkit-transition: 0.3s ease 0.5s;
        -o-transition: 0.3s ease 0.5s;
        transition: 0.3s ease 0.5s; }
      @media screen and (max-width: 992px) {
        #nav .right .nav-list {
          display: block;
          top: 150px;
          height: 0; }
          #nav .right .nav-list a {
            display: block;
            margin: 14px 0;
            font-size: 14px; } }
    #nav .right .nav-list.on {
      width: 350px; }
      #nav .right .nav-list.on a {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }
      @media screen and (max-width: 992px) {
        #nav .right .nav-list.on {
          width: 120px;
          padding: 10px 0;
          height: auto; }
          #nav .right .nav-list.on a {
            margin: 14px auto; } }
    #nav .right .bottom {
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 70px;
      right: 0;
      margin: auto; }
      #nav .right .bottom .cart img {
        -webkit-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.5); }
      #nav .right .bottom .backtop {
        display: none; }
        #nav .right .bottom .backtop img {
          -webkit-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.5); }
      #nav .right .bottom .backtop.show {
        display: block; }
      @media screen and (max-width: 992px) {
        #nav .right .bottom {
          width: 45px; } }

.fix-bg {
  position: fixed;
  width: 100%;
  height: calc( 100vh - 50px);
  background-image: url("../img/main/1-bg.png");
  background-size: 1050px auto;
  background-position: 50% 50px;
  bottom: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
  will-change: filter; }

.fix-bg.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  opacity: .5; }

.sec {
  min-height: 100vh;
  height: auto;
  width: 100%;
  position: relative; }
  .sec .content > .title {
    max-width: 600px;
    width: 90%;
    margin: auto; }
    @media screen and (max-width: 992px) {
      .sec .content > .title {
        padding-top: 30px; } }
  .sec img {
    width: 100%; }
  .sec .content {
    position: relative;
    max-width: 1100px;
    padding: 8% 5%;
    margin: auto; }

header.sec {
  height: 100%; }
  header.sec .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40%;
    max-width: 180px; }

.sec1 .bg {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/main/1-bg-text.svg");
  background-position: 0% 155%;
  background-size: auto 110%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-animation: bring 1s ease 0s infinite alternate;
  animation: bring 1s ease 0s infinite alternate; }
  .sec1 .bg img {
    position: absolute; }
  .sec1 .bg .a, .sec1 .bg .b {
    width: 11.5%; }
  .sec1 .bg .a {
    top: auto;
    left: 2.5%;
    bottom: 5%; }
  .sec1 .bg .b {
    top: 6%;
    left: 15.5%; }
  .sec1 .bg .c {
    top: auto;
    bottom: 17.4%;
    width: 33%;
    left: 22.2%; }

.sec1 .bg2 {
  left: 66%;
  top: -12.1%; }
  .sec1 .bg2 .b {
    top: 20%; }
  .sec1 .bg2 .c {
    bottom: 4%; }

.sec1 .header-nav.active .mobile-icon {
  -webkit-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important; }

.sec1 .header-nav {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0d171c;
  -webkit-box-shadow: inset 0 0 0 2px #009c75;
  box-shadow: inset 0 0 0 2px #009c75;
  padding: 10px;
  width: 95%;
  max-width: 1000px;
  left: 0;
  right: 0;
  bottom: -30px;
  margin: auto;
  color: #009c75;
  height: 60px;
  z-index: 3;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .sec1 .header-nav {
      display: block;
      height: auto; } }
  .sec1 .header-nav * {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: auto;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    height: 40px;
    line-height: 40px; }
  .sec1 .header-nav .title {
    background-color: #009c75;
    color: #0d171c; }
    @media screen and (max-width: 768px) {
      .sec1 .header-nav .title {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 120px;
        -ms-flex: 0 0 120px;
        flex: 0 0 120px;
        width: 120px;
        display: inline-block;
        vertical-align: middle; } }
  .sec1 .header-nav a {
    font-size: 12px; }
    @media screen and (max-width: 768px) {
      .sec1 .header-nav a {
        display: none; } }
    .sec1 .header-nav a:nth-of-type(5) {
      margin-right: 5px; }
  .sec1 .header-nav .mobile-icon {
    display: none;
    font-size: 33px;
    font-weight: 800;
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
    float: right;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease; }
    @media screen and (max-width: 768px) {
      .sec1 .header-nav .mobile-icon {
        display: inline-block;
        vertical-align: middle; } }
  .sec1 .header-nav .mobile-list {
    display: none;
    height: auto; }
    @media screen and (max-width: 768px) {
      .sec1 .header-nav .mobile-list a {
        display: block;
        font-size: 16px;
        text-align: right;
        padding-right: 10px; }
        .sec1 .header-nav .mobile-list a:nth-of-type(1) {
          margin-top: 20px; }
        .sec1 .header-nav .mobile-list a:nth-of-type(5) {
          margin-right: 0px; } }
  .sec1 .header-nav .calltoaction {
    width: 90px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 90px;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px; }
    .sec1 .header-nav .calltoaction .noactive {
      position: relative;
      z-index: 2; }
    .sec1 .header-nav .calltoaction .active {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0; }

@-webkit-keyframes bring {
  0% {
    opacity: .78; }
  100% {
    opacity: 1; } }

@keyframes bring {
  0% {
    opacity: .78; }
  100% {
    opacity: 1; } }

.sec2 {
  z-index: 3;
  pointer-events: none; }
  .sec2 .content {
    max-width: calc( 100% - 150px); }
    @media screen and (max-width: 750px) {
      .sec2 .content {
        max-width: calc( 100%);
        margin: 0; } }
  .sec2 .text {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 25px;
    padding: 15px 20px;
    border-radius: 6px;
    max-width: 350px;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 500; }
    .sec2 .text .name {
      margin-bottom: 8px;
      font-weight: 700; }
    .sec2 .text:after {
      content: '';
      position: absolute;
      top: 20px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 12px 8px 0;
      border-color: transparent #fff transparent transparent; }
  .sec2 .left .text:after {
    left: -12px; }
  .sec2 .right .text:after {
    right: -11px;
    border-color: transparent #009c75 transparent transparent;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .sec2 .chat {
    margin-top: 5%; }
    .sec2 .chat .left {
      margin: 15px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .sec2 .chat .left .img {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 80px;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        height: 80px;
        background-image: url("../img/main/nav/02_頭像_stusis .svg"); }
        @media screen and (max-width: 750px) {
          .sec2 .chat .left .img {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 60px;
            -ms-flex: 0 0 60px;
            flex: 0 0 60px;
            height: 60px; } }
      .sec2 .chat .left .text {
        color: #009c75;
        background-color: #fff; }
    .sec2 .chat .right {
      margin: 15px 0; }
      .sec2 .chat .right .text {
        margin: 0 0 0 auto;
        background-color: #009c75;
        color: #0d171c; }
      .sec2 .chat .right .small {
        max-width: 60px; }

.sec3, .sec4 {
  background-color: #000;
  z-index: 3; }
  .sec3 .content, .sec4 .content {
    position: relative;
    max-width: 1200px; }
  .sec3 .title, .sec4 .title {
    position: relative;
    margin: 0 !important;
    max-width: 600px !important;
    z-index: 3; }
  .sec3 .flex-ac-jc-, .sec4 .flex-ac-jc- {
    position: relative;
    margin-top: -5%;
    z-index: 2; }
  .sec3 .img, .sec4 .img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    width: 35%;
    margin: 0; }
    @media screen and (max-width: 992px) {
      .sec3 .img, .sec4 .img {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%; } }
  .sec3 .video, .sec4 .video {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 65%;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    width: 65%;
    margin: 0; }
    @media screen and (max-width: 992px) {
      .sec3 .video, .sec4 .video {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%; } }
  .sec3 .youtube-box, .sec4 .youtube-box {
    position: relative;
    padding-top: 52.25%; }
    .sec3 .youtube-box iframe, .sec4 .youtube-box iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  .sec3 .intro, .sec4 .intro {
    background-color: #0d171c;
    color: #009c75;
    -webkit-box-shadow: inset 0 0 0 2px #009c75;
    box-shadow: inset 0 0 0 2px #009c75;
    max-width: 100%;
    padding: 5px 5px; }
    @media screen and (max-width: 992px) {
      .sec3 .intro, .sec4 .intro {
        padding: 15px; } }
    .sec3 .intro .intro-title, .sec4 .intro .intro-title {
      background-color: #009c75;
      color: #0d171c;
      text-align: center;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 280px;
      -ms-flex: 0 0 280px;
      flex: 0 0 280px;
      width: 280px;
      font-weight: 700;
      line-height: 40px;
      height: 40px;
      font-size: 20px;
      font-weight: 800; }
      @media screen and (max-width: 992px) {
        .sec3 .intro .intro-title, .sec4 .intro .intro-title {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          width: 100%; } }
    .sec3 .intro .intro-text, .sec4 .intro .intro-text {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 calc( 100% - 400px);
      -ms-flex: 1 1 calc( 100% - 400px);
      flex: 1 1 calc( 100% - 400px);
      width: calc( 100% - 400px);
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
      padding-right: 30px; }
      @media screen and (max-width: 992px) {
        .sec3 .intro .intro-text, .sec4 .intro .intro-text {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          width: 100%; } }

.sec4 .content {
  padding-top: 0; }

.sec4 .title {
  margin: 0 0 0 auto !important; }

.sec4 .intro {
  margin: 0 0 0 auto !important; }

.sec4 .intro-text {
  margin-bottom: 0px !important; }

.sec5 {
  background-color: #000;
  z-index: 3;
  background-image: url("../img/main/5-bg.jpg");
  background-position: center 120%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 30%; }
  @media screen and (max-width: 768px) {
    .sec5 {
      background-position: center 100%; } }
  .sec5 .content {
    max-width: 1200px; }
  .sec5 .youtube-box {
    position: relative;
    padding-top: 52.25%; }
    .sec5 .youtube-box iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  .sec5 .box {
    position: relative;
    text-align: right; }
    .sec5 .box .more-btn {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 30px;
      text-align: center;
      width: 60px;
      font-weight: 600;
      background-color: #0d171c;
      color: #fff; }
    .sec5 .box .box-title {
      width: 95%;
      position: absolute;
      background-color: #0d171c;
      color: #ceebf9; }
      .sec5 .box .box-title .num {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 30px;
        -ms-flex: 0 0 30px;
        flex: 0 0 30px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        background-color: #009c75;
        color: #0d171c;
        text-align: center;
        font-size: 23px;
        font-weight: 700; }
      .sec5 .box .box-title .text {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 calc( 100% - 60px);
        -ms-flex: 0 0 calc( 100% - 60px);
        flex: 0 0 calc( 100% - 60px);
        margin: 0 !important;
        padding: 10px 5px;
        text-align: left;
        font-weight: 700;
        font-size: 14px; }
    .sec5 .box img {
      margin-top: 20px;
      width: 95%; }

.sec6 {
  z-index: 3;
  background-color: #000; }
  .sec6 .content {
    padding-top: calc( 23vw + 5%); }
  .sec6 .img-6 {
    position: absolute;
    width: 100%; }
  .sec6 .title {
    font-size: 6vw;
    text-align: left;
    color: #ceebf9;
    font-weight: 800;
    line-height: 1.1;
    margin: 0 !important;
    max-width: 620px !important;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-65%);
    -ms-transform: translateY(-65%);
    transform: translateY(-65%); }
    @media screen and (max-width: 992px) {
      .sec6 .title {
        max-width: 100%;
        font-size: 30px; } }
  .sec6 .shipping {
    background-color: #0d171c;
    color: #009c75;
    -webkit-box-shadow: inset 0 0 0 2px #009c75;
    box-shadow: inset 0 0 0 2px #009c75;
    padding: 5px 0; }
    @media screen and (max-width: 992px) {
      .sec6 .shipping {
        padding: 15px; } }
    .sec6 .shipping .shipping-title {
      background-color: #009c75;
      color: #0d171c;
      text-align: center;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 145px;
      -ms-flex: 0 0 145px;
      flex: 0 0 145px;
      width: 145px;
      font-weight: 700;
      line-height: 40px;
      height: 40px;
      font-size: 17px; }
      @media screen and (max-width: 992px) {
        .sec6 .shipping .shipping-title {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          width: 100%; } }
    .sec6 .shipping .shipping-text {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 calc( 100% - 260px);
      -ms-flex: 1 1 calc( 100% - 260px);
      flex: 1 1 calc( 100% - 260px);
      width: calc( 100% - 260px);
      font-size: 14px;
      line-height: 1.5;
      font-weight: 500;
      padding: 7px 30px 50px 30px; }
      @media screen and (max-width: 992px) {
        .sec6 .shipping .shipping-text {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          width: 100%;
          padding: 0; } }

footer {
  background-color: #0d171c;
  color: #ceebf9;
  text-align: center;
  z-index: 10;
  position: relative; }
  footer .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 12px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    max-width: 1100px;
    margin: auto;
    padding: 20px 80px 20px 5px; }
    @media screen and (max-width: 992px) {
      footer .content {
        display: block;
        text-align: left; } }
  footer .logo {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100px;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    width: 100px; }
    @media screen and (max-width: 992px) {
      footer .logo {
        margin-bottom: 10px; } }
  footer .add, footer .email {
    padding: 0 10px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: auto; }
    @media screen and (max-width: 992px) {
      footer .add, footer .email {
        margin-bottom: 10px; } }
  footer .email {
    text-align: left; }
  footer a {
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 120px;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px; }
    @media screen and (max-width: 992px) {
      footer a {
        width: auto;
        margin: 5px; } }
    footer a img {
      width: auto;
      height: 35px; }
    footer a .noactive:hover {
      opacity: 0; }
    footer a .noactive:hover + .active {
      opacity: 1; }
    footer a .noactive {
      position: relative;
      z-index: 2; }
    footer a .active {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto; }

.copyright {
  min-height: 0;
  background-color: #000;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  color: #ceebf9; }
  .copyright .content {
    padding: 0 5px; }
  @media screen and (max-width: 992px) {
    .copyright {
      opacity: .5;
      line-height: 1;
      padding: 10px 5px; } }

#buy.active {
  opacity: 1;
  pointer-events: visible;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media screen and (max-width: 768px) {
    #buy.active {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%); } }

#buy {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  z-index: 40;
  top: 50%;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);
  width: 100%;
  max-width: 875px;
  background-color: #ceebf9;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  -webkit-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 768px) {
    #buy {
      top: auto;
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%);
      bottom: 0; } }
  #buy .header {
    background-color: #009c75;
    padding: 10px 15px;
    font-weight: 800; }
  #buy .close {
    position: absolute;
    right: -5px;
    top: -5px;
    background-color: #ceebf9;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 19px;
    letter-spacing: 0;
    border-radius: 100%; }
    @media screen and (max-width: 768px) {
      #buy .close {
        top: 10px;
        right: 10px; } }
  #buy .img {
    margin: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 180px;
    -ms-flex: 0 0 180px;
    flex: 0 0 180px;
    height: 180px;
    font-size: 0; }
    @media screen and (max-width: 768px) {
      #buy .img {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        height: 130px;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; } }
    #buy .img img {
      width: 100%;
      display: none; }
    #buy .img img.active {
      display: block; }
  #buy form {
    margin: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 calc( 100% - 180px);
    -ms-flex: 1 1 calc( 100% - 180px);
    flex: 1 1 calc( 100% - 180px);
    width: calc( 100% - 180px); }
  #buy .selector > div {
    font-size: 0;
    -webkit-box-shadow: -7px 0 0 -6px rgba(0, 0, 0, 0.3);
    box-shadow: -7px 0 0 -6px rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    margin: 10px 0;
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      #buy .selector > div {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; } }
  #buy label {
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: top;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    -webkit-box-shadow: inset 0 0 0 4px #0d171c;
    box-shadow: inset 0 0 0 4px #0d171c; }
    #buy label i {
      opacity: 0;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: 0.3s cubic-bezier(0.54, 0.1, 0.5, 1.51);
      -o-transition: 0.3s cubic-bezier(0.54, 0.1, 0.5, 1.51);
      transition: 0.3s cubic-bezier(0.54, 0.1, 0.5, 1.51); }
  #buy input:checked + label i {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  #buy .p-title {
    width: calc( 100% - 35px);
    vertical-align: top;
    height: 35px;
    line-height: 1.3;
    font-weight: 800;
    display: inline-block;
    font-size: 13px;
    padding: 0px 7px; }
    #buy .p-title .price {
      display: inline-block;
      opacity: 0.5; }
  #buy .quantity-selector {
    font-size: 0;
    padding: 10px; }
    #buy .quantity-selector .left, #buy .quantity-selector .right {
      display: inline-block;
      vertical-align: top; }
      @media screen and (max-width: 768px) {
        #buy .quantity-selector .left, #buy .quantity-selector .right {
          width: 100% !important; } }
    #buy .quantity-selector .left {
      font-size: 13px;
      width: 60px;
      font-weight: 800; }
    #buy .quantity-selector .right {
      width: calc( 100% - 60px); }
  #buy .quantity-selector {
    -webkit-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.3); }
    #buy .quantity-selector .info {
      color: #0d171c;
      opacity: 0.5;
      font-size: 13px;
      font-weight: 800;
      margin-top: 5px;
      padding-left: 10px; }
      @media screen and (max-width: 768px) {
        #buy .quantity-selector .info {
          padding-left: 0; } }
  #buy .quantity-selector .btn {
    background-color: #0d171c;
    line-height: 30px;
    font-size: 15px;
    color: #ceebf9;
    font-weight: 800;
    margin-top: 0;
    cursor: pointer;
    display: inline-block;
    width: 90px;
    margin: 0 0 0 10px; }
    @media screen and (max-width: 768px) {
      #buy .quantity-selector .btn {
        margin: 5px 10px 5px 0; } }
  #buy .quantity-selector .btn.active {
    background-color: #ceebf9;
    -webkit-box-shadow: inset 0 0 0 2px #0d171c;
    box-shadow: inset 0 0 0 2px #0d171c;
    color: #0d171c; }
  #buy .total {
    position: relative;
    height: 40px;
    text-align: right;
    padding: 0 130px 0 80px;
    background-color: rgba(0, 0, 0, 0.07);
    line-height: 38px;
    font-size: 26px;
    font-weight: 800; }
    @media screen and (max-width: 768px) {
      #buy .total {
        font-size: 20px; } }
    #buy .total .text {
      position: absolute;
      left: 10px;
      top: 5px;
      font-size: 13px;
      font-weight: 800;
      line-height: 1; }
    #buy .total .submit-btn {
      position: absolute;
      right: 0;
      top: 0;
      width: 120px;
      background-color: #0d171c;
      line-height: 40px;
      height: 40px;
      text-align: center;
      color: #ceebf9;
      font-size: 16px;
      font-weight: 800;
      border-radius: 0; }

.bg-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  z-index: 1;
  overflow: hidden; }
  .bg-text img {
    width: 100%;
    min-width: 600px; }
  .bg-text.a {
    top: 24%; }
  .bg-text.b {
    top: auto;
    bottom: -10%;
    left: 0;
    right: 0;
    margin: auto; }
  .bg-text.c {
    top: auto;
    bottom: 0%;
    left: 0;
    right: 0;
    margin: auto; }

.pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200; }
  .pop .close {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  .pop .content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
    width: 100%;
    max-width: 950px;
    padding: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #0d171c; }
    @media screen and (max-width: 768px) {
      .pop .content {
        height: 100%;
        overflow: auto;
        margin-top: 0; } }
    .pop .content .close {
      left: auto;
      right: 15px;
      top: 15px;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 18px;
      background-color: #ceebf9;
      color: #0d171c;
      letter-spacing: 0;
      cursor: pointer; }
    @media screen and (max-width: 768px) {
      .pop .content {
        display: block;
        top: 0;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); } }
    .pop .content .img {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 300px;
      -ms-flex: 0 0 300px;
      flex: 0 0 300px;
      width: 300px; }
      .pop .content .img img {
        width: 100%; }
      @media screen and (max-width: 768px) {
        .pop .content .img {
          width: 100%; } }
    .pop .content .text {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 calc( 100% - 300px);
      -ms-flex: 1 1 calc( 100% - 300px);
      flex: 1 1 calc( 100% - 300px);
      width: auto;
      padding: 30px 60px; }
      @media screen and (max-width: 768px) {
        .pop .content .text {
          padding: 15px 0; } }
      .pop .content .text .title {
        font-size: 19px;
        font-weight: 800;
        color: #ceebf9;
        margin-bottom: 30px; }
        @media screen and (max-width: 768px) {
          .pop .content .text .title {
            font-size: 16px; } }
      .pop .content .text .d {
        font-size: 14px;
        line-height: 1.5;
        color: #ceebf9; }
        @media screen and (max-width: 768px) {
          .pop .content .text .d {
            font-size: 13px; } }

#loading {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: #0d171c; }
  #loading .progress-text {
    font-size: 5vw;
    opacity: .5;
    color: #fff;
    font-weight: 800; }
  #loading [class*="block"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  #loading .block-og {
    background-color: #0d171c;
    z-index: 3; }
  #loading .block-db {
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2; }
  #loading .block-b {
    background-color: #009c75; }

#loading.completed {
  -webkit-animation: disappear 1.5s ease 0s 1 both;
  animation: disappear 1.5s ease 0s 1 both;
  pointer-events: none;
  background-color: transparent; }
  #loading.completed .progress-text {
    -webkit-animation: disappear 1.5s ease 0s 1 both;
    animation: disappear 1.5s ease 0s 1 both; }
  #loading.completed .block-og {
    -webkit-animation: slideRight 1.5s ease .2s 1 both;
    animation: slideRight 1.5s ease .2s 1 both; }
  #loading.completed .block-db {
    -webkit-animation: slideRight 1.7s ease .1s 1 both;
    animation: slideRight 1.7s ease .1s 1 both; }
  #loading.completed .block-b {
    -webkit-animation: slideRight 2.1s ease 0s 1 both;
    animation: slideRight 2.1s ease 0s 1 both; }

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  40% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  60% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%; }
  100% {
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%; } }

@keyframes slideRight {
  0% {
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  40% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  60% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%; }
  100% {
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%; } }

@-webkit-keyframes disappear {
  0% {
    font-size: 5vw;
    background-color: #0d171c; }
  40% {
    font-size: 5vw;
    background-color: #0d171c; }
  60% {
    font-size: 0;
    background-color: transparent; }
  100% {
    font-size: 0;
    background-color: transparent; } }

@keyframes disappear {
  0% {
    font-size: 5vw;
    background-color: #0d171c; }
  40% {
    font-size: 5vw;
    background-color: #0d171c; }
  60% {
    font-size: 0;
    background-color: transparent; }
  100% {
    font-size: 0;
    background-color: transparent; } }
