@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css); // 思源黑體
// ========= 客製化區 =========
@import 'custom_style/variables'; // 變數
@import 'custom_style/font'; // landing page layout
// ========= base =========
@import 'base/reset'; // doppler reset
@import 'base/dophlex'; // dopplex
// ========= element =========
@import 'element/btn'; // btn & calltoaction

body {
  background-color: #000;
}

[class*='bg-'] {
  background-repeat: no-repeat;
  background-position: center;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
}

#nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  pointer-events: none;
}

#logo {
  position: fixed;
  left: 2.5%;
  top: 30px;
  width: 180px;
  
  img {
    width: 100%;
  }
}

#cta {
  position: fixed;
  right: 2.5%;
  top: 15px;
  width: 115px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: visible;
  transition: 0.3s cubic-bezier(0.45, 0.08, 0.39, 1.49);
  animation: gogoro 5s linear 0s infinite both;

  div {
    animation: gogoro 5s linear 0s infinite reverse both;
  }

  &:hover {
    animation-play-state: paused;

    div {
      animation-play-state: paused;
    }
  }

  img {
    width: 38px;
  }

  span {
    display: block;
    font-size: 15px;
    font-family: $p400;
    font-weight: 400;
    color: $main;
  }
}

@keyframes gogoro {
  100% {
    transform: rotate(360deg);
  }
}

header {
  
  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
    }
  }

  .text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    margin: auto;
    z-index: 3;
    position: relative;
    max-width: 600px;
    width: 90%;
    margin: auto;

    img {
      transform: translate3d(0, 50%, 0);
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .social {
    position: absolute;
    left: 2.5%;
    bottom: 15px;
    display: flex;
    justify-content: flex-start;

    a {
      display: block;
      width: 45px;
      height: 45px;
      position: relative;
      margin-left: 15px;

      img {
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
      }

      img.h {
        opacity: 0;

        &:hover {
          transition: 0.3s ease;
          opacity: 1;
        }
      }
    }
  }
}

section {
  width: 100%;
  min-height: 100vh;
}

.sec2 {
  height: auto;
  min-height: 100vh;
  padding: 20% 0 0;
}

.bg-marquee {
  overflow: hidden;
  
  .line {
    position: relative;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      flex: 0 0 150px;
      width: 150px;
      margin: 5px 7px;
      opacity: 0.4;
      transition: 0.3s ease;
    }

    img:hover {
      opacity: 1;
    }
  }

  .line:nth-of-type(1) {
    width: 1640px;
    animation: mq 35s linear 0s infinite normal both;
  }

  .line:nth-of-type(2) {
    width: 1640px;
    animation: mq 30s linear 0s infinite reverse both;
  }

  .line:nth-of-type(3) {
    width: 1476px;
    animation: mq 40s linear 0s infinite normal both;
  }
}

@keyframes mq {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.block {
  background-color: $b;
  color: $sup;
}

.ak {
  font-family: $p800;
  font-weight: 800;
  font-size: normal;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.1;
  font-size: 40px;
}

h3 {
  font-size: 27px;
  font-family: $p800;
  font-weight: 800;
}

.sec2 {

  .block {
    width: 100%;
    margin: auto;
    max-width: 930px;
    padding: 35px;
    transform: translate3d(0, 20%, 0);
    z-index: 3;
    position: relative;

    .left, .right {
      flex: 0 0 50%;
      width: 50%;
      margin: 0;
    }

    .left {
      padding-right: 50px;
      box-shadow: 1px 0px 0 0 $sup;
    }

    p {
      margin-top: 40px;
      opacity: .9;
    }

    .right {
      padding-left: 50px;

      p {
        margin-top: 10px;
        text-align: right;
        font-size: 14px;
        padding-right: 60px;
      }
    }
  }

  .count {
    color: $sup;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-family: $p800;
    font-weight: 800;

    span {
      font-size: 22px;
    }

    .nums {
      display: inline-flex;
      margin-top: 25px;
    }

    .num {
      flex: 0 0 70px;
      border-radius: 6px;
      margin-right: 15px;
      text-align: center;
      font-family: $p800;
      font-weight: 800;
      width: 70px;
      font-size: 70px;
      background-color: $sup;
      color: $b;
    }
  }

  .block_bottom {
    width: 100%;
    margin: 0 auto 0 0;
    max-width: 600px;
    padding: 35px;
    transform: translate3d(0, -60%, 0);
    z-index: 3;
    position: relative;
    left: 2.5%;
  }

  .top p {
    padding: 0 30px;
    margin-top: 15px;
  }

  .boxes {
    width: 100%;
    overflow-x: scroll;
  }

  .box {
    cursor: pointer;
    text-align: center;
    font-family: $p800;
    font-weight: 800;
    opacity: 0.6;
    transition: 0.3s ease;

    &.active {
      opacity: 1;
    }

    &:hover {
      opacity: .8;
    }

    img {
      width: 100%;
    }
  }
}

.sec3 {
  position: relative;
  background-size: 100% auto;
  background-position: 0 100%;

  .left-guy {
    width: 100%;
    position: absolute;
    bottom: 5%;
    left: 0;
  }

  .bg-contain {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-position: 0 100%;
  }

  .right-video {
    width: 100%;
    position: absolute;
    right: 5%;
    bottom: 46%;
    margin: auto;
    width: 50%;
    max-width: 580px;
    background-origin: 5%;

    .yb {
      position: relative;
      padding-top: 52.25%;

      iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.sec4 {
  .block {
    max-width: 950px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;

    h2 {
      font-size: 36px;
      line-height: 1;
    }
  }

  .left-text {
    flex: 0 0 300px;
    padding: 25px 40px;
  }

  .right-icons {
    flex: 0 0 calc( 100% - 450px);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      flex: 0 0 30%;
      width: 30%;
      margin: 0 1.666%;
    }
  }

  .main-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
  }

  .main-block > div {
    margin: 0;
    flex: 0 0 50%;
    width: 50%;
  }

  .text-block {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-block-content > * {
      background-color: $b;
      color: $sup;
      font-family: $p800;
      font-weight: 800;
    }

    h3 {
      width: 355px;
      margin-bottom: 23px;
    }

    .text-block-content > div {
      width: 380px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 9px;

      .label {
        flex: 0 0 100px;
        width: 100px;
        box-shadow: 1px 0 0 0 $main;
        color: $main;
        font-size: 12px;
        height: 30px;
      }

      .intro {
        flex: 1 1 auto;
        width: auto;
        text-align: right;
        line-height: 1.2;
        font-size: 30px;
      }

      .label-long {
        flex: 0 0 130px;
        width: 130px;
      }
    }

    .text-block-content > p {
      width: 410px;
      margin-top: 23px;
      padding: 15px;
      font-size: 15px;
      font-family: $p400;
      font-weight: 400;
      opacity: .9;
      min-height: 100px;
    }
  }
}

.sec5 {
  padding-top: 10%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 700px;

  .content {
    max-width: 1100px;
    margin: auto;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title-line {
      flex: 1 1 auto;
      width: auto;
      background-color: $sup;
      height: 1px;
    }

    .title-words {
      color: $sup;
      margin: 0 40px;
      
      h2 {
        font-family: $p800;
        font-weight: 800;
      }
    }

    .feats {
      display: flex;
      justify-content: space-around;
      font-family: $p800;
      font-weight: 800;
      max-width: 900px;
      margin: 80px auto 0;

      .rigth-intro {
        flex: 0 0 50%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        .list {
          color: $sup;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          width: 300px;
          padding: 20px 0;
          transition: 0.3s ease;
          border-radius: 10px;
          cursor: pointer;
          transform: scale(0.96);

          &.active, &:hover {
            color: $b;
            background-color: $sup;
            transform: scale(1);

            p {
              transform: scale(1);
            }
          }

          .num {
            background-color: $main;
            color: $b;
            flex: 0 0 20px;
            width: 20px;
            height: 20px;
            font-size: 12px;
            border-radius: 100%;
            text-align: center;
            line-height: 20px;
            margin-right: 20px;
          }

          p {
            font-size: 16px;
            text-align: left;
            flex: 0 0 200px;
            width: 200px;
            letter-spacing: 3px;
            transform: scale(0.95);
            transition: 0.3s ease;
          }
        }
      }

      .cards-section {
        position: relative;
        flex: 0 0 50%;
        width: 50%;
      }

      .cards-arrow {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        cursor: pointer;

        img {
          width: 100%;
        }
      }

      .cards-arrow.left {
        left: 0;
      }

      .cards-arrow.right {
        right: 0;
      }

      .cards {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;

        img {
          position: absolute;
          opacity: 0;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          width: 100%;
          max-width: 280px;
          z-index: 1;
          transition: 0.3s ease;
        }

        img.small_left,
        img.small_right {
          opacity: 0.7;
        }

        img.small_left {
          transform: scale(0.85) translateX(-30%);
        }

        img.small_right {
          transform: scale(0.85) translateX(30%);
        }

        img.active {
          opacity: 1;
          z-index: 2;
        }
      }
    }
  }

  .sec5-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;

    img:nth-child(1) {
      position: relative;
      width: 100%;
    }

    img {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
    }
  } 
}
footer {
  background-color: $b;
  color: $sup;
  text-align: center;
  z-index: 10;
  position: relative;

  .content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 12px;
    align-items: center;
    position: relative;
    max-width: 1100px;
    margin: auto;
    padding: 20px 80px 20px 5px;

    @media screen and (max-width: 992px) {
      display: block;
      text-align: left;
    }
  }

  .logo {
    flex: 0 0 100px;
    width: 100px;
    @media screen and (max-width: 992px) {
      margin-bottom: 10px;
    }
  }

  .add,
  .email {
    padding: 0 10px;
    flex: 1 1 auto;
    width: auto;

    @media screen and (max-width: 992px) {
      margin-bottom: 10px;
    }
  }

  .email {
    text-align: left;
  }

  a {
    position: relative;
    flex: 0 0 120px;

    @media screen and (max-width: 992px) {
      width: auto;
      margin: 5px;
    }

    img {
      width: auto;
      height: 35px;
    }

    .noactive:hover {
      opacity: 0;
    }

    .noactive:hover + .active {
      opacity: 1;
    }

    .noactive {
      position: relative;
      z-index: 2;
    }

    .active {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

.copyright {
  min-height: 0;
  background-color: #000;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  color: $sup;

  .content {
    padding: 0 5px;
  }

  @media screen and (max-width: 992px) {
    opacity: 0.5;
    line-height: 1;
    padding: 10px 5px;
  }
}

#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: $b;

  .progress-text {
    font-size: 5vw;
    opacity: 0.5;
    color: #fff;
    font-weight: 800;
  }
  [class*='block'] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 0%;
  }
  .block-og {
    background-color: $b;
    z-index: 3;
  }

  .block-db {
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2;
  }

  .block-b {
    background-color: $main;
  }
}

#loading.completed {
  animation: disappear 1.5s ease 0s 1 both;
  pointer-events: none;
  background-color: transparent;

  .progress-text {
    animation: disappear 1.5s ease 0s 1 both;
  }
  .block-og {
    animation: slideRight 1.5s ease 0.2s 1 both;
  }
  .block-db {
    animation: slideRight 1.7s ease 0.1s 1 both;
  }
  .block-b {
    animation: slideRight 2.1s ease 0s 1 both;
  }
}

@keyframes slideRight {
  0% {
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 0%;
  }
  40% {
    transform: scale3d(1, 1, 1);
    transform-origin: 0% 0%;
  }
  60% {
    transform: scale3d(1, 1, 1);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scale3d(0, 1, 1);
    transform-origin: 100% 0%;
  }
}

@keyframes disappear {
  0% {
    font-size: 5vw;
    background-color: $b;
  }
  40% {
    font-size: 5vw;
    background-color: $b;
  }
  60% {
    font-size: 0;
    background-color: transparent;
  }
  100% {
    font-size: 0;
    background-color: transparent;
  }
}
